
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}


.header {
    width: 1440px;
    height: 700px;
    background-image: url(../Assets/Hero-bg.png);
    margin: 0 auto;
}

nav {
    width: 1140px;
    height: 130Hug;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

.nav-title{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
.btn-header{
    width: 140px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 12px;
    padding: 12px 36px; 
}
.btn-header:hover{
    background-color: aqua;
    color: black;
}
.banner{
    width: 905px;
    height: 207px;
    margin: 158px auto 152px;
    text-align: center;
}
.head-banner{
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 37px;
    color: #252432;
}
.btn-banner{
    width: 174px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
}
.btn-banner:hover{
    background-color: aqua;
    color: black;
}
main{
    background-color:#F5F8FF;
    
    margin: 0 auto;
    padding-top: 116px ;
    padding-bottom: 116px;
} 
.action{
    width: 1140px;
    height: 328Hug;
    display: flex;
    margin: 0 auto;
    gap: 320px;
    justify-content: space-between;
    align-items: center;
    

}
.action-left{
    width: 517px;
    height: 205Hug;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 23px;
}
.action-des{
    font-size: 24px;
    margin-bottom: 23px;
}
.btn-action{
    width: 230px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;
    border: 0;
    border-radius: 12px;
}
.btn-action:hover{
    background-color: aqua;
    color: black;
}
.action-image{
    width: 403px;
    height: 328px;
    border-radius: 40px;

}
.users{
    margin: 116px auto ;
    width: 1140px;
    height: 308Hug;
    background-color: #C8CCF6;
    text-align: center;
    border-radius: 30px;
}
.users-profile{
    padding: 50px 142px;
}
.users-container{
    display: flex;
    gap: 58px;
    justify-content: space-between;
}
.users-head{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}
.users-box{
    width: 180px;
    height: 121Hug;
}
.users-big{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.users-small{
    font-size: 20px;
}


