
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}


.header {
    width: 1440px;
    height: 680px;
    background-image: url(../Assets/Hero-bg.png);
    margin: 0 auto;
}

nav {
    width: 1140px;
    height: 130Hug;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

.nav-title{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
.btn-header{
    width: 140px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 12px;
    padding: 12px 36px; 
}
.btn-header:hover{
    background-color: aqua;
    color: black;
}
.banner{
    width: 905px;
    height: 207px;
    margin: 158px auto 152px;
    text-align: center;
}
.head-banner{
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 37px;
    color: #252432;
}
.btn-banner{
    width: 174px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
}
.btn-banner:hover{
    background-color: aqua;
    color: black;
}
main{
    background-color:#F5F8FF;
    
    margin: 0 auto;
    padding-top: 116px ;
    padding-bottom: 15px;
} 
.action{
    width: 1140px;
    height: 328Hug;
    display: flex;
    margin: 0 auto;
    gap: 320px;
    justify-content: space-between;
    align-items: center;
    

}
.action-left{
    width: 517px;
    height: 205Hug;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 23px;
}
.action-des{
    font-size: 24px;
    margin-bottom: 23px;
}
.btn-action{
    width: 230px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;
    border: 0;
    border-radius: 12px;
}
.btn-action:hover{
    background-color: aqua;
    color: black;
}
.action-image{
    width: 403px;
    height: 328px;
    border-radius: 40px;

}
.users{
    margin: 116px auto ;
    width: 1140px;
    height: 308Hug;
    background-color: #C8CCF6;
    text-align: center;
    border-radius: 30px;
}
.users-profile{
    padding: 50px 142px;
}
.users-container{
    display: flex;
    gap: 58px;
    justify-content: space-between;
}
.users-head{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}
.users-box{
    width: 180px;
    height: 121Hug;
}
.users-big{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.users-small{
    font-size: 20px;
}

/* Review section */

.review-section{
    margin: 0 auto;
    width: 1140px;
}

.review-head{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
}
.review-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.review-box{
    width: 360px;
    height: 243Hug;
    background-color: white;
    padding: 24px;
    border-radius: 20px;

}
.review-person-title{
    margin-top: 24px;
    font-weight: bold;
    font-size: 24px;

}
.review-person-des{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-bottom: 24px;
}
.review-person{
    display: flex;
    gap: 10px;
}
.reviewr-picture{
     border-radius: 50%;
}

/* extra section */
.extra-section{
    width: 1140px;
    height: 697px;
    margin: 137px auto 0;
    background-color:white;
}
.extra-head{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.extra{
    text-align: center;
    padding: 70px 0;

}
.extra-para{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.75;
    margin-bottom: 20px;
}
.extra-photo{
    display: block;
    width: 840px;
    height: 365px;
    margin: 20px auto 0;
    border-radius: 40px;
    
    
}


/* Form-section */

.form-section{
    width: 1140px;
    height: 632Hug;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 0;
}
.form-container{
    display: flex;
    gap: 115px;
    justify-content: space-between;
    align-items: center;
}

.connect-form{
    padding-top: 71px;
    padding-bottom: 71px;
}
.form-head{
    font-size: 90px;
    font-weight: bold;
    padding-top: 180px;
    padding-bottom: 180px;
    width: 528px;
    height: 232Hug;
}
.form-label{
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}
.form-field{
    width: 450px;
    height: 50px;
    border: 0;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 32px;
    padding-bottom: 15px;
    font-size: 18px;
}
.form-text-field{
    width: 450px;
    height: 115px;
    border: 0;
    border-radius: 8px;
    padding-top: 15px;
    padding-left: 32px;
    margin-bottom: 20px;
    font-size: 18px;
}
.btn-form{
    display: block;
    width: 480px;
    height: 50px;
    background-color: #4E47FF;
    color: white;
    margin: 0 auto;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.btn-form:hover{
    background-color: aqua;
    color: black;
}
